@{
    ViewData["Title"] = "Mesas";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Restaurant</title>
    <link href="~/css/mesaStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>@ViewData["nombreUsuario"] Bienvenido al Restaurante</h1>
        <div class="mesas">
            <button class="mesa" id="mesa1">Mesa 1</button>
            <button class="mesa" id="mesa2">Mesa 2</button>
            <button class="mesa" id="mesa3">Mesa 3</button>
            <button class="mesa" id="mesa4">Mesa 4</button>
            <button class="mesa" id="mesa5">Mesa 5</button>
            <button class="mesa" id="mesa6">Mesa 6</button>
            <button class="mesa" id="mesa7">Mesa 7</button>
            <button class="mesa" id="mesa8">Mesa 8</button>
            <button class="mesa" id="mesa9">Mesa 9</button>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>